.button {
    width: 1200px; 
    background-color: #1e70aec2; 
    color: white; 
    padding: 10px; 
    margin: 5px;
    border: none; 
    text-align: left; 
    outline: none; 
    font-size: 16px; 
  }
  
  .button:focus {
    outline: none; 
  }
  
  .button:hover {
    background-color: #1e70ae71; 
  }

  @media (max-width: 768px) {
    .button {
        width: 300px; 
        color: white; 
        padding: 10px; 
        margin: 5px;
        border: none; 
        text-align: left; 
        outline: none; 
        font-size: 16px; 
      }
}    