
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 2.5rem; /* Tamaño del título */
    margin-top: 20px; /* Margen superior para separar del menú */
    color: #333; /* Color del texto */
    background-color: #045ca0;
  }

  .paragraph {
    
  }
