.divContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(184, 184, 184, 0.47);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.176);
}
