.dropdownContent {
  display: block;
  position: absolute;
  background-color: #1e6fae;
  min-width: 200px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  top: 100%; /* Para asegurar que el dropdown esté justo debajo del item del navbar */
  left: 0;   /* Para que el dropdown esté alineado a la izquierda con respecto al item del navbar */
}

.dropdownItem {
  position: relative;
}

.dropdownItem a {
  color: white;
  padding: 12px 16px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
}

.dropdownItem a:hover {
  background-color: #045ca0;

}

.dropdownItem .dropdownContent {
  top: 0;
  left: 100%; /* Para que el sub-dropdown aparezca a la derecha */
}
