   .divContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      column-gap: 80px;
   }
   
   .divItem {
      
      height: 350px; 
      width: 230px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background-color: #e6e6e6;
      margin-bottom: 10px;
      justify-items: center;
      flex-direction: column; 
      text-align: center;
   }
   .divItem:hover {
      transform: scale(1.02);
      transition: transform 0.5s;
    }
   
   .postImage {
      width: 100%; 
      height: 60%; 
 
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      align-items: center;
      top: 100%;
      border-radius: 10px;
   }
   
   .title {
      padding: 10px;
      margin: 0;
      flex-grow: 1; 
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .description {
      margin: 5px;
      margin-bottom: 5px;
      text-align: left;
   }